<tr class="song">
  <td class="user"><%= link_to song.user.name, user_songs_url(song.user) %></td>
  <td class="artist"><%= song.artist.name %></td>
  <td class="title"><%= link_to song.name, song %></td>
</tr>
