<h2>Here is a little song I wrote</h2>

Artist: <%= @song.artist.name %>

Name: <%= @song.name %>

Lyrics:

<table class="song">
  <%= Chordpro.colorized(@song.body, :show_title => false).html_safe %>
</table>
