.chords-2 { width: 4em; }
.chords-3 { width: 7em; }
.chords-4 { width: 9em; }
.chords-5 { width: 11em; }
.chords-6 { width: 13em; }
.chords-7 { width: 15em; }
.chords-8 { width: 18em; }

.chord-C  { background: #F0838B; }
.chord-Am { background: #D4747B; }
.chord-G  { background: #B8DA89; }
.chord-Em { background: #A3C17B; }
.chord-D  { background: #838DD5; }
.chord-A  { background: #F79D6F; }
.chord-E  { background: #5DC3F3; }
.chord-B  { background: #84E2A1; }
.chord-F  { background: #76DBD3; }
.chord-Dm { background: #6AC3BB; }

.chord-G⁷ {
  background: repeating-linear-gradient(
    45deg,
    #B8DA89,
    #B8DA89 5px,
    #A3C17B 5px,
    #A3C17B 10px
  );
}
.chord-D⁷ {
  background: repeating-linear-gradient(
    45deg,
    #838DD5,
    #838DD5 5px,
    #746AAF 5px,
    #746AAF 10px
  );
}
.chord-A⁷ {
  background: repeating-linear-gradient(
    45deg,
    #F59D6F,
    #F59D6F 5px,
    #D4885F 5px,
    #D4885F 10px
  );
}
.chord-E⁷ {
  background: repeating-linear-gradient(
    45deg,
    #5DC3F3,
    #5DC3F3 5px,
    #53ACD6 5px,
    #53ACD6 10px
  );
}
