body {
  font-family: 'Raleway', sans-serif;
}

.header {
  h1 { float: left; }
  div.user-nav { float: right; }
}

.footer {
  text-align: center;
  margin-top: 20px;
}

table.song {
  tr {
    &:nth-child(even) td { background: #fff; }
    td {
      background: #fff;
      > span {
        text-shadow: 0px 0px 3px #fff;
        padding: 3px;
        margin: 2px;
      }
      &.chord-list > span {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}
