// Variables

$border_gray:           #ddd;
$border_value:          1px solid #ddd;
$navy:                  #263648;
$opacity_transition:    opacity .5s ease;
$light_blue:            #B6D7FF;
$lightest_blue:         #E9F3FF;
$blue:                  #5EA7FF;

// Mixins